<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CS.Properties.Settings>
            <setting name="UserFilePathForJson" serializeAs="String">
                <value />
            </setting>
            <setting name="UserFilePathForServer" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSetLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSetTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedHighTempLocationSingl" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedAmbientTemperatureSingl" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedInitialTemperatureSingl" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedInitialTemperature" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedAmbientTemperature" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedHighTempLocationX" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedHighTempLocationY" serializeAs="String">
                <value />
            </setting>
        </CS.Properties.Settings>
    </userSettings>
</configuration>